<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="MyApp">
    <Appenders>
        <RollingFile name="StdOutFileLogger"
                     fileName="/tmp/bartnik/generator/${sys:instanceName}-stdout.log"
                     filePattern="logs/stdout-%d{HH-mm-ss-MM-dd-yyyy}.log">
            <MarkerFilter marker="Throughput" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n"/>
            <OnStartupTriggeringPolicy/>
        </RollingFile>
        <RollingFile name="ThroughputFileLogger"
                     fileName="/tmp/bartnik/generator/${sys:instanceName}-throughput.log"
                     filePattern="logs/throughput-%d{HH-mm-ss-MM-dd-yyyy}.log">
            <MarkerFilter marker="Throughput" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} - %msg%n"/>
            <OnStartupTriggeringPolicy/>
        </RollingFile>
        <!-- <Console name="Console">  Comment out to also log to console -->
        <!--     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
        <!-- </Console> -->
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="StdOutFileLogger"/>
            <AppenderRef ref="ThroughputFileLogger"/>
            <!-- <AppenderRef ref="Console"/> -->
        </Root>
    </Loggers>
</Configuration>
